@font-face {
    font-family: "regards";
    src: url("../fonts/regards.ttf") format("truetype");
} 

html{
    background-color: #FFEEF6;
}

main{
    position: relative;
    z-index: 2;
    margin-bottom: 14%;
    padding-bottom: 10%;
    background-color: #FFD2E0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

body{
    
    margin: 0;
    overflow-x: hidden;
}

nav{
    padding: 1.2%;
    padding-right: 8%;
    padding-left: 4%;
    background-color: #FFEEF6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 60px;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav img:hover{
    transform: scale(105%);
}

nav ul{
    display: flex;
    column-gap: 25%;
    margin-right: 5%;
}


nav li{
    background-color: #FF6696;
    border-radius: 10px;
    filter: drop-shadow(5px 5px #CB1215);
    font-family: 'arial';
    color: #FFEEF6;
    list-style: none;
    text-align: center;
    padding: 5%;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav li:hover{
    transform: scale(105%);
}

nav li a{
    font-size: 120%;
    text-decoration: none;
    color: #FFEEF6;
    white-space: nowrap;
}


.titre{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titre h1{
    font-family: 'regards';
    font-size: 6.5vw;
    color: #820A30;
    margin-bottom: 0%;
    text-transform: uppercase;
}

.titre p{
    font-family: 'arial';
    font-size: 200%;
    color: #FF6696;
}

footer{
    background-color: #FFEEF6;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
}

footer #footer-title{
    text-transform: uppercase;
    color: #FF6696;
    font-family: 'regards';
    font-size: 800%;
    margin: 0;
    margin-top: 3%;
}

footer p{
    font-family: 'arial';
    color: #820A30;
    font-size: 110%;
}

footer p a{
    text-decoration: underline;
    color: #820A30;
}