@font-face {
    font-family: "regards";
    src: url("../fonts/regards.ttf") format("truetype");
} 

body{
    background-color: #FFD2E0;
    margin: 0;
}

nav{
    padding: 1.5%;
    padding-right: 8%;
    background-color: #FFEEF6;
    display: flex;
    justify-content: end;
    column-gap: 5%;

}

nav button{
    padding: 0.7%;
    color: #FFEEF6;
    font-size: 120%;
    background-color: #FF6696;
    border: 0px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px #CB1215);

}

.titre{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titre h1{
    font-family: 'regards';
    font-size: 550%;
    color: #820A30;
    margin-bottom: 0%;
}

.titre p{
    font-family: 'arial';
    font-size: 200%;
    color: #FF6696;
}