html, main{
    background-color: var(--grey-blue);;
}

.page3 {
    min-height: 50vh;
}

nav{
    background-color: var(--dark-blue);
}

nav li{
    background-color: var(--light-blue);;
    color: FFFFFF;
    filter: drop-shadow(5px 5px var(--white-blue));
}

#emoji{
    position: absolute;
    right: 4%;
    top: 5%;
    width: 40vw;
}

.titre-p3 h1{
    font-family: 'regards';
    font-size: 6.5vw;
    color: var(--dark-blue);
    margin-bottom: 0%;
    margin-left: 5%;
    text-transform: uppercase;
}

.recherche{
    display: flex;
    column-gap: 3%;
    margin-left: 5%;
    margin-top: 5%;
    align-items: center;
}

.recherche select, .recherche input{
    background-color: var(--white-blue);
    border: 0px;
    width: 20%;
    margin-bottom: 10%;
    border-radius: 5px;
    padding: 0.5%;
    font-size: 110%;
    font-family: 'montserrat';
}


.recherche input[type="text"]:focus{
    border: 2px solid var(--medium-blue);
    outline:none;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 16px;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
    background: var(--white-blue);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.3s;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}

.carousel-item:hover {
    transform: scale(1.05);
}

.carousel h3 {
    font-size: 1rem;
    margin: 8px 0;
    color: var(--dark-blue);
}

.carousel p {
    font-size: 0.875rem;
    color: #666;
}


footer{
    background-color: var(--dark-blue);
}

footer #footer-title{
    color: var(--white-blue);
}
footer p, footer p a{
    color: var(--grey-blue);;
}

