
@keyframes battement {
    0%, 100% {
      transform: scale(100%);
    }
    50%{
        transform: scale(105%);
    }
}

@keyframes flottement {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-10px);
    }
  }

section{
    max-width: 65%;
    justify-content: center;
    margin:auto;
}

h1{
    font-family: 'regards';
    font-size: var(--fs-900);
    color: var(--dark-red);
    margin: 0%;
    padding-top: 2%;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}

section a{
    max-width: 80vw;
    height: 30vw;
    font-family: 'regards';
    font-size: var(--fs-800);
    text-transform:capitalize;
    text-decoration:none;

    text-align: center;
    display: block;
    margin: auto;

    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

section h2{
    font-family: 'regards';
    font-size: var(--fs-700);
    margin-bottom: 0%;
    text-transform: uppercase;
    margin-top : 0px;
}

section p{
    font-family: 'montserrat';
    font-weight:600 ;
    font-size: var(--fs-600);
    max-width: 65%;
    min-width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    text-transform: uppercase;
    text-align: center;
}



#enDuo h2,#enDuo p{
    color: var(--dark-red);
}
#enDuo a{
    color: var(--white-pink);
    filter: drop-shadow(3px 3px var(--medium-red));
    background-image: url("../images/coeur.png");
    animation: battement 1.5s ease-in-out infinite;
}

#enSolo{
    margin-top: 10%;
}
#enSolo h2,#enSOlo p{
    color: var(--dark-blue);
}
#enSolo a{
    color: var(--white-blue);
    filter: drop-shadow(3px 3px var(--medium-blue));
    background-image: url("../images/coeur_brise_bleu.png");
    animation: flottement 2s ease-in-out infinite;
}